.header{

    height: 120px;

}

.header img{

    height: 100%;

}

.comp-name{

    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 34px;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #85FF5A;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    line-height: 350%;

}